/* Importando a fonte diretamente no CSS */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  overflow: auto; /* permite scroll se necessário */
}

/* Container principal */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
}


  /* IMAGEM FIXA NO TOPO */
.foto_leo img {
  width: 1365px;  /* largura fixa */
  height: 357px;   /* altura proporcional */
  display: block;
  margin: 0 auto; /* centraliza horizontalmente */
  border: 2px solid #000;
}

/* TEXTO DA BIOGRAFIA */
.biografia {
  position: absolute;
  top: 400px;          /* abaixo da imagem */
  left: 50px;
  width: auto;         /* mesma largura da imagem */
  font-size: 20px;     /* tamanho fixo */
  line-height: 1.8;
  color: #222;
  overflow: auto;      /* scroll se necessário */
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}


/* CONTAINER DOS QUADRADOS */
.fotos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 1000px;
  margin: 30px auto; /* espaço entre o texto e os quadrados */
  margin-top: 580px;
}

/* CADA QUADRADO */
.fotos {
  background-color: aqua;
  border: 2px solid #000;
  width: 300px;
  height: 200px;
}
